<h1>Table For Quotation List</h1>
<table>
    <thead>
        <th>competency</th>
        <th>resource</th>
        <th>efforts</th>
    </thead>
    <tbody>
    <tr>
        <td><%= @request_for_quotation.competency %></td>
        <td><%= @request_for_quotation.resource %></td>
        <td><%= @request_for_quotation.efforts %></td>
    </tr>
    </tbody>
</table>