<form action="/answers" method="post" authenticity_token="false">
 <div>
    <label for="say">Answer One!</label>
    <input name="say" id="say" value="One" type="text">
  </div>
  <div>
    <label for="to">Answer Two!</label>
    <input name="to" id="to" value="Two" type="number">
  </div>
  <div>
    <label for="to">Answer Three!</label>
    <input name="to" id="to" value="Two" type="textarea">
  </div>
   <div>
    <label for="to">Answer four!</label>
    <input name="to" id="to" value="Two" type="radio">
  </div>
  <div>
    <label for="to">Answer Five!</label>
    <input name="to" id="to" value="Two" type="search">
  </div>
  <div>
    <label for="to">Answer Six!</label>
    <input name="to" id="to" value="Two" type="checkbox">
  </div>
  <div>
    <label for="to">Answer Six!</label>
    <input name="to" id="to" value="Two" type="date">
  </div>
  <div>
    <button>Submit</button>
  </div>
</form>

