<form action="/answers" method="post">
    <input type="hidden" name="authenticity_token" value="false">
 <div>
    <label for="say">Answer One!</label></br>
    <input name="one" id="say" value="Ones" type="text">
  </div>
  <div>
    <label for="to">Answer Two!</label></br>
    <input name="two" id="aone" value="Twos" type="number" class="newform">
  </div>
  <div>
    <label for="to">Answer Three!</label></br>
    <input name="three" id="atwo" value="Threes" type="textarea">
  </div>
  <div>
    male
    <input name="four" id="to" value="Two" type="radio">
    female
    <input name="four f" id="athree" value="fours" type="radio">
  </div>
  <div>
    <label for="to">Answer Five!</label></br>
    <input name="five" id="afour" value="fives" type="search">
  </div>
  <div>
    Answer Six (right)!
    <input name="six" id="afive" value="sevens" type="checkbox">
    Answer Six (wrong)!
    <input name="six w" id="asix" value="sevenss" type="checkbox">
  </div>
  <div>
    <label for="to">Answer Seven!</label></br>
    <input name="seven" id="nine" value="nine" type="date">
  </div>
   <div>
    <select name="answers">
      <option>A</option>
      <option>B</option>
      <option>C</option>
    </select>
  </div>
  <div>
    <button>Submit</button>
  </div>
</form>

