<h1>Table For Quotation List Show</h1>
<table>
    <thead>
        <th>project_name</th>
        <th>client_name</th>
        <th>project_type</th>
    </thead>
    <tbody>
    <tr>
        <td><%= @quotation.project_name %></td>
        <td><%= @quotation.client_name %></td>
        <td><%= @quotation.project_type %></td>
    </tr>
    </tbody>
</table>