<h1>Table For Quotation List Show</h1>
<table>
    <thead>
        <th>title</th>
        <th>author</th>
        <th>cover</th>
        <th>language</th>
    </thead>
    <tbody>
    <tr>
        <!-- <td><%= @book.title %></td> -->
        <td><%= @book.author %></td>
        <td><%= @book.cover %></td>
        <td><%= @book.language %></td>
    </tr>

    </tbody>
</table>